# Ignore the virtual environment directory
BackEnd/venv/
BackEnd/env/

# Python cache files
BackEnd/__pycache__/
BackEnd/*.pyc

# Flask instance folder
BackEnd/instance/

#Flash config file
BackEnd/config.yaml

# Logs
BackEnd/*.log

# IDE-specific files
BackEnd/.vscode/
BackEnd/.idea/

# Node.js dependencies
FrontEnd/node_modules/

# Build output directory
FrontEnd/build/

# Environment variables file
FrontEnd/.env

# Log files
FrontEnd/npm-debug.log*
FrontEnd/yarn-debug.log*
FrontEnd/yarn-error.log*
