.users {
    text-align: center;
    padding: 32px;
    background-color: #d1d1d1;
}

.users h3 {
    font-size: 32px;
    border-bottom: 4px solid #686868;
    display: inline-block;
    padding-bottom: 8px;
}

.users .card-users {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}