.connectionspage {
    max-width: 100%;
    height: fit-content;
}

.connectionspage .addpanel {
    border: 1px solid;
    height: 150px;
    background-color:rgb(0, 0, 0);
}

.connectionspage .addpaneldiv{
    margin-left: 5px;
    display: inline-block;
}

.connectionspage .addpanelinput {
    border: 1px solid;
    border-radius: 5px;
    width: 200px;
    height: 25px;
}

.connectionspage .inputSearch {
    margin-top: 5px;
    width: 350px;
    border: 1px solid;
    border-radius: 5px;
    background-color: aliceblue;
}

.connectionspage .data-table-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px; 
}

.connectionspage label {
    color: white;
    font-weight: bold;
}

.connectionspage button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 5px;
  }
  
.connectionspage .addBtnConnection  {
    background-color: #4CAF50;
    color: white;
  }
  
.connectionspage .addBtnConnection:hover {
    background-color: #45a049; 
  }

.connectionspage .delBtnConnection {
    background-color: #f44336; 
    color: white;
  }
  
.connectionspage .delBtnConnection:hover {
    background-color: #d32f2f; 
  }
  
.connectionspage button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }