.interfacepage {
    max-width: 100%;
    height: fit-content;
}

.interfacepage .addpanel {
    border: 1px solid;
    height: 100px;
    background-color:rgb(0, 0, 0);
}

.interfacepage .addpaneldiv{
    margin-left: 5px;
    display: inline-block;
}

.interfacepage .addpanelinput {
    border: 1px solid;
    border-radius: 5px;
    width: 200px;
    height: 25px;
}

.interfacepage .inputSearch {
    margin-top: 5px;
    width: 350px;
    border: 1px solid;
    border-radius: 5px;
    background-color: aliceblue;
}

.interfacepage .data-table-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px; 
}


.interfacepage .status-up {
    background-color: #d4edda;
    color: #155724;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
  }
  
.interfacepage .status-down {
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}


.interfacepage label {
    color: white;
    font-weight: bold;
}

.interfacepage button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 5px;
  }
  

.interfacepage .updBtnInterface {
    background-color: #2196F3;
    color: white;
  }
  
.interfacepage .updBtnUser:hover {
    background-color: #1976D2; 
  }
  
.interfacepage .syncBtnInterface {
    background-color: #9E9E9E;
    color: white;
  }
  
.interfacepage .syncBtnInterface:hover {
    background-color: #757575; 
  }
  
.interfacepage button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
