.devicepage {
    max-width: 100%;
    height: fit-content;
}

.devicepage .addpanel {
    border: 1px solid;
    height: 100px;
    background-color:rgb(0, 0, 0);
}

.devicepage .addpaneldiv{
    margin-left: 5px;
    display: inline-block;
}

.devicepage .addpanelinput {
    border: 1px solid;
    border-radius: 5px;
    width: 140px;
    height: 25px;
}

.devicepage .inputSearch {
    margin-top: 5px;
    width: 300px;
    border: 1px solid;
    border-radius: 5px;
    background-color: aliceblue;
}

.devicepage .data-table-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px; 
}


.devicepage .status-up {
    background-color: #d4edda;
    color: #155724;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
  }
  
.devicepage .status-down {
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}


.devicepage label {
    color: white;
    font-weight: bold;
}

.devicepage button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 5px;
  }
  
.devicepage .addBtnDevice {
    background-color: #4CAF50;
    color: white;
  }
  
.devicepage .addBtnDevice:hover {
    background-color: #45a049; 
  }
  

.devicepage .delBtnDevice {
    background-color: #f44336; 
    color: white;
  }
  
.devicepage .delBtnDevice:hover {
    background-color: #d32f2f; 
  }
  

.devicepage .updBtnDevice {
    background-color: #2196F3;
    color: white;
  }
  
.devicepage .updBtnDevice:hover {
    background-color: #1976D2; 
  }
  
.devicepage .cancelBtnDevice {
    background-color: #9E9E9E;
    color: white;
  }
  
.devicepage .cancelBtnDevice:hover {
    background-color: #757575; 
  }
  
.devicepage button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
