.devicepage {
  max-width: 100%;
  height: fit-content;
  font-family: Arial, sans-serif;
  color: #333;
}

.devicepage .addpanel {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 8px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}


.devicepage .addpaneldiv {
  margin-left: 10px;
  display: inline-block;
}

.devicepage .addpanelinput {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  padding: 5px;
  margin-right: 8px;
}

.devicepage .inputSearch {
  margin-top: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  background-color: #f0f4f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.devicepage .data-table-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  padding: 8px;
}

.devicepage .status-up {
  background-color: #d4edda;
  color: #155724;
  padding: 6px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

.devicepage .status-down {
  background-color: #f8d7da;
  color: #721c24;
  padding: 6px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

.devicepage label {
  color: #f9f9f9;
  font-weight: bold;
  margin-right: 5px;
}

.devicepage button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.devicepage .addBtnDevice {
  background-color: #4CAF50;
  color: white;
}

.devicepage .addBtnDevice:hover {
  background-color: #45a049;
}

.devicepage .delBtnDevice {
  background-color: #f44336;
  color: white;
}

.devicepage .delBtnDevice:hover {
  background-color: #d32f2f;
}

.devicepage .updBtnDevice {
  background-color: #2196F3;
  color: white;
}

.devicepage .updBtnDevice:hover {
  background-color: #1976D2;
}

.devicepage .cancelBtnDevice {
  background-color: #9E9E9E;
  color: white;
}

.devicepage .cancelBtnDevice:hover {
  background-color: #757575;
}

.devicepage button:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
